{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}

<section class="register-section">
  <div class="container register-container">
    <div class="form-wrapper">
      <h2>Create Your Account</h2>
     <form method="POST" action="{% url 'register' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
      <small class="error">{{ field.errors|striptags }}</small>
    {% endif %}
  </div>
  {% endfor %}

  <button type="submit" class="btn">Register</button>
  <p class="login-link">
    Already have an account? <a href="{% url 'login' %}">Login here</a>
  </p>
</form>
    </div>
    <div class="register-image">
      <img src="{% static 'images/register-banner.png' %}" alt="Register">
    </div>
  </div>
</section>

{% endblock %}
